.head-window{width:80%;height:100px; background-image: url(https://torange.biz/photofxnew/212/IMAGE/picture-bokeh-lights-background-big-hearts-fragment-212695.jpg);
margin:auto;border-radius:100px;padding-top:60px;text-align:center;font-size:40px}

.body-window{width:80%;height:1000px;margin:auto}

.foot-window{width:80%;height:50px;margin:auto;margin-top:20px;text-align:center;padding-top:15px;border-radius:20px;background-color:orange}

.left-window{float:left;width:30%;height:1000px}

.right-window{width:66%;height:1000px;margin:auto;float:right;margin-top:20px;border-left:2px solid black;padding-left:20px}

.button{width:80%;height:50px;margin:auto;margin-top:10px;margin-bottom:10px;border-radius:10px;background:yellow;text-align:center;font-size:24px;padding-top:10px}

.button:hover{width:80%;height:50px;margin:auto;margin-top:10px;margin-bottom:10px;border-radius:10px;background:lime;text-align:center;font-size:24px;padding-top:10px}

.button:active{width:80%;height:50px;margin:auto;margin-top:10px;margin-bottom:10px;border-radius:10px;background:vioet;text-align:center;font-size:24px;padding-top:10px}



body {
	background-color: white;
}
